<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns       =   "http://www.phonegap.com/ns/plugins/1.0"
        id          =   "cordova-plugin-hotline"
        version     =   "1.2.1">

    <!-- Meta -->
    <name>Hotline plugin for Phonegap</name>
    <description>Plugin for integrating the Hotline SDK into a Phonegap/Cordova project</description>
    <keywords>freshdesk,hotline</keywords>

    <engines>
        <engine name="cordova-android" version=">=4.0.0" />
        <engine name="cordova-ios" version=">=3.8.0"/>
    </engines>
    
    
    <!-- Make the javascript wrapper inject at loadtime as <script> -->
    <!-- The clobbers tag makes the module.exports of the js module available at window.<target-value> -->
    <js-module src="www/hotline_plugin.js" name="Hotline">
        <clobbers target="Hotline" />
    </js-module>
        
    <!-- Stuff to do only on android platforms -->
    <platform name="android">
        
        <!-- Move the Java wrapper class to specified location(which corresponds with the Class's pakage name) -->
        <source-file src="src/android/HotlinePlugin.java" target-dir="src/com/freshdesk/hotline/android" />
        <source-file src="src/android/ActionBarActivity.java" target-dir="src/com/freshdesk/hotline/android" />

        <!-- Pushing <feature> tag into android platform's config.xml -->
        <!-- This is needed for Cordova to recognize the plugin and for using the Java Class globally -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="HotlinePlugin" >
                <param name="android-package" value="com.freshdesk.hotline.android.HotlinePlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" />
            <permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" android:protectionLevel="signature" />
        </config-file>

        <config-file target="res/values/strings.xml" parent="/resources">
            <string name="hotline_file_provider_authority">$PACKAGE_NAME.provider</string>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <provider android:authorities="$PACKAGE_NAME.provider" android:exported="false" android:grantUriPermissions="true" android:name="android.support.v4.content.FileProvider">
                <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/hotline_file_provider_paths" />
            </provider>
        </config-file>

        <!-- Including the HotlineSDK(which is included as such) as a framework -->
        <!-- The custom parameter makes Cordova look for the gradle file in a relative location rather than the Android SDK -->
        <framework src="src/android/Hotline/build.gradle" custom="true" type="gradleReference" />
        
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="HotlinePlugin">
                <param name="ios-package" value="HotlinePlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        
        
        <!-- PLUGIN HEADER AND SOURCE FILES -->
        <header-file src="src/ios/HotlinePlugin.h" target-dir="HotlineiOSPlugin"/>
        <source-file src="src/ios/HotlinePlugin.m" target-dir="HotlineiOSPlugin"/>
        
        <!-- HOTLINE SDK -->
        
        <!-- Headers -->
        <header-file src="src/ios/HotlineSDK/Hotline.h" target-dir="HotlineiOSPlugin"/>
        
        <!-- Resources -->
        <resource-file src="src/ios/HotlineSDK/KonotorModels.bundle" target-dir="HotlineiOSPlugin"/>
        <resource-file src="src/ios/HotlineSDK/HLResources.bundle" target-dir="HotlineiOSPlugin"/>
        <resource-file src="src/ios/HotlineSDK/HLLocalization.bundle" target-dir="HotlineiOSPlugin"/>

        <framework src="Foundation.framework"/>
        <framework src="AVFoundation.framework"/>
        <framework src="AudioToolbox.framework"/>
        <framework src="CoreMedia.framework"/>
        <framework src="CoreData.framework"/>
        <framework src="ImageIO.framework"/>
        <framework src="SystemConfiguration.framework"/>
        <framework src="AdSupport.framework"/>
        
        <source-file src="src/ios/HotlineSDK/libFDHotlineSDK.a" target-dir="HotlineiOSPlugin" framework="true"/>
    </platform>
</plugin>
    
